<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Film database</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="header">
    <h1>Film database</h1>
    <% if (!currentUser) { %>
    <a href="/login" class="btn login-btn">Login</a>
    <% } else { %>
    <div class="user-info">
        <a href="/logout" class="btn logout-btn"><button>Logout</button></a>
        <p>Logged in as <strong><%= currentUser.username %></strong></p>
    </div>
    <% } %>
</div>

<% if (currentUser && currentUser.role === 'admin') { %>
<a href="/add" id="add-film-button">
    <button>Add new film</button>
</a>
<% } %>

<hr>

<% if (movies.length === 0 && currentUser && currentUser.role === 'admin') { %>
<h2 class="no-movies">No movies added ... add one by clicking on the Add new film button!</h2>
<% } %>

<% if (movies.length === 0 && currentUser && currentUser.role !== 'admin') { %>
<h2 class="no-movies">No movies added! Contact your administrator to add some movies to rate!</h2>
<% } %>

<% movies.forEach(movie => { %>
<a href="/movie/<%= movie.id %>">
    <div class="movie">
        <img src="<%= movie.imageUrl %>" alt="<%= movie.title %>" class="movie-image">
        <div class="movie-content">
        <h2><%= movie.title %></h2>
        <div>
            Average rating:
            <% if (movie.ratingCount > 0) { %>
            <%= (movie.ratingSum / movie.ratingCount).toFixed(2) %>/5
            <% } else { %>
            This movie was not rated yet.
            <% } %>
        </div>
        </div>
    </div>
</a>
<% }) %>
</body>
</html>